:root {
    --primary: #003399;
    /* Azul Banco do Brasil */
    --secondary: #ff9800;
    /* Amarelo Ouro */
    --bg-color: #f4f7f6;
    --text-color: #333;
    --white: #ffffff;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    overflow: hidden;
}